<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dėstomi dalykai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container" sec:authorize="hasAnyRole('ADMIN', 'LECTURER', 'STUDENT')">
    <div>
        <h1>Dėstomi dalykai</h1>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary" href="/index" role="button">Pradžia</a>
        <a sec:authorize="hasAnyRole('ADMIN', 'LECTURER', 'STUDENT')" class="btn btn-primary active" href="/courses" role="button">Dėstomi dalykai</a>
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" href="/groups" role="button">Studentų grupės</a>
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" href="/lecturers" role="button">Dėstytojai</a>
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" href="/students" role="button">Studentai</a>
    </div>

    <div style="padding-top: 20px; padding-bottom: 20px">

        <a sec:authorize="hasAnyRole('ADMIN')" th:href = "@{/showNewCourseForm}" class="btn btn-success btn-sm mb-3">Pridėti</a>

        <table class = "table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>
                    <a>Pavadinimas</a>
                </th>
                <th sec:authorize="hasAnyRole('STUDENT')">
                    <a>Pažymys</a>
                </th>
                <th sec:authorize="hasAnyRole('ADMIN')">Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${listCourses}">
                <td th:text="${course.name}"></td>
                <!--vieta pažymio rodymui-->
                <td sec:authorize="hasAnyRole('STUDENT')">Pažymys</td>
                <td>
                    <!--<a th:href="@{/showCourseFormForUpdate/{id}(id=${course.id})}" class="btn btn-primary">Redaguoti</a>-->
                    <a sec:authorize="hasAnyRole('LECTURER')" th:href="@{/groups}" class="btn btn-primary">Peržiūrėti grupių sąrašą</a>
                    <a sec:authorize="hasAnyRole('ADMIN')" th:href="@{/deleteCourse/{id}(id=${course.id})}" class="btn btn-danger">Ištrinti</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>

    <div>
        <a class="btn btn-warning" href="/logout" role="button">Atsijungti</a>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>