<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>

    <div sec:authorize="hasRole('ADMIN')">
        <form th:action="@{/groups}" method="get">
            <input type="submit" value="Studentų grupių valdymas"/>
        </form>
        <br/>
        <form th:action="@{/courses}" method="get">
            <input type="submit" value="Dėstomų dalykų valdymas"/>
        </form>
        <br/>
        <form th:action="@{/lecturers}" method="get">
            <input type="submit" value="Dėstytojų valdymas"/>
        </form>
        <br/>
        <form th:action="@{/students}" method="get">
            <input type="submit" value="Studentų valdymas"/>
        </form>

        <h2 th:inline="text">Dėstytojus priskirti prie dėstomo dalyko</h2>
        <h2 th:inline="text">Studentus priskirti prie grupės</h2>
        <h2 th:inline="text">Dėstomą dalyką priskirti prie grupės</h2>
    </div>

    <div sec:authorize="hasRole('LECTURER')">
        <h2 th:inline="text">Galimybė įvesti pasirinkto studento dalyko pažymį</h2>
        <h2 th:inline="text">Galimybė redaguoti pasirinkto studento dalyko pažymį</h2>
    </div>

    <div sec:authorize="hasRole('STUDENT')">
        <h2 th:inline="text">Galimybė peržiūrėti savo pažymius</h2>
    </div>

    <br/>

    <div>
        User: <span sec:authentication="name">NOT FOUND</span>
        Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>
    </div>

    <br/>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>