<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AcadSys</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Naudotojo duomenų redagavimas</h1>
    <hr>
    <h2>Atnaujinti naudotojo duomenis</h2>

    <form action="#" th:action="@{/saveUser}" th:object="${user}"
          method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{surname}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{roles}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{userName}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{password}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{active}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Atnaujinti</button>
    </form>

    <hr>

    <a th:href = "@{/index}">Grįžti atgal</a>
</div>
</body>
</html>